@charset "utf-8";
/* CSS Document */

/******************************


/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.about_text
	{
		padding-right: 0;
	}
	.boxes_col
	{
		margin-top: 95px;
	}
	.test_col:not(:last-child)
	{
		margin-bottom: 95px;
	}
	.team_col:not(:last-child)
	{
		margin-bottom: 75px;
	}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.loader_col:not(:last-child)
	{
		margin-bottom: 95px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.home
	{
		height: 230px;
	}
	.home_container
	{
		bottom: 47px;
	}
	.home_title
	{
		font-size: 24px;
	}
	.breadcrumbs ul li, .breadcrumbs ul li a
	{
		font-size: 12px;
	}
	.box_emergency_text
	{
		font-size:13px;
	}
	.test_text
	{
		font-size: 14px;
	}
}