@charset "utf-8";
/* CSS Document */

/******************************


/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.box
	{
		width: 322px;
		height: auto;
		padding-bottom: 40px;
		padding-left: 30px;
	}
}	
/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.box
	{
		width: 100%;
	}
	.working_hours
	{
		position: relative;
		top: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		left: auto;
		margin-top: 95px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.home
	{
		height: 230px;
	}
	.home_container
	{
		bottom: 47px;
	}
	.home_title
	{
		font-size: 24px;
	}
	.breadcrumbs ul li, .breadcrumbs ul li a
	{
		font-size: 12px;
	}
}