.form-group > .form-custom{
    font-size: 12px;
    border-color: #d6cdd6;
}
.footer_about_text > h3, h4 {
    color: white;
}
.home_content_inner> .btn-slide {
    height: 40px;
}
.home_content_inner > .btn-slide > a {
    line-height: 35px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}
.modal-header > .colors {
    font-size: 14px;
    font-weight: bold;
}
.form-group > label{
    font-size: 12px;
}
.add_button{
    color: #350d36 !important;
    border-color: #350d36 !important;
    background: transparent !important;
}
.add_button:hover{
    color: white !important;
    background-color: #350d36 !important;
    cursor: pointer !important;
}
.titles{
    font-size: 13px;
    font-weight: bold;
}
.btn-icon:hover{
    cursor: pointer;
}